@charset "UTF-8";

@font-face {
    font-family: 'Super Comic';
    src: url('fontes/Super\ Comic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Galaxy Fold*/

@media  screen and (min-width: 280px) and (max-width: 653px) {
    header {
        font-size: 10px;
    }

    #textoInicial {
        padding: 3px;
    }

    #formulario {
        padding: 5px;
        width: 200px !important;
        
        
    }

    #button-mais {
        top: 85%;
        left: 81%;
    }

   
}


/* 6 primeiros  + Galaxy Fold*/
@media screen and (max-width: 600px) {
    header {
        background: #42d608;
        font-size: 12px;
    }

    #textoInicial {
       font-size: 12px; 
    }

    #formulario {
        padding: 50px !important;
        width: 300px !important;

        
        left: 12% !important;
        
    }

    #button-mais {
        position: fixed;
        top: 85%;
        left: 100%;
    }
}





@media screen and (min-width: 600px) and (max-width: 768px){
    header {
        font-size: 20px;
        
    }

    
    

    #button-mais {
        top: 85%;
        left: 89%;
    }

   
   

}

/* Ipad Air, Ipad Mini, Surface Pro 7*/
@media screen and (min-width: 768px) and (max-width: 992px) {
    #textoInicial {
        font-size: 20px;
        font-weight: bold;
        margin: 3px;
    }

    #formulario {
        padding: 70px;
        width: 600px;
        top: 20%;
        left: 13%;
        font-weight: bolder;
        font-size: 2em;
    }

    input {
        font-size: 2rem;
    }

    

    #button-mais {
        top: 85%;
        left: 90%;
    }

   
}



@media screen and (min-width: 993px) and (max-width: 1200px) {
    header {
        font-size: 20px;
        
    }

    #formulario {
        padding: 50px !important;
        width: 400px !important;
        left: 30% !important;

        font-size: 2em;
        font-weight: bold;
      
       
        
    }

    input {
        font-size: .8em;
    }

    #txtdata {
        font-size: 1em;
    }

    #button-mais {
        top: 81%;
        left: 90%;
        
    }


}

@media screen and (min-width: 1200px) {
    header {
        font-size: 20px;
    }

    p#textoInicial {
       font-size: 2em;
    }

    #button-mais {
        top: 85%;
        left: 93%;
    
    }

    #formulario {
        padding: 70px;
        width: 600px;
        top: 20%;
        left: 27%;

        font-size: 2em;
        font-weight: bold;

    }

    input {
        font-size: 1em;
    }

    #txtdata {
        font-size: 1.5em;
    }
   
}



header {
    background-color: #42d608;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    font-family: 'Super Comic';
    color: white;
}



#textoInicial {
    font-family: 'Super Comic';
    text-align: center;
    margin-top: 20px;
}



#container {
    display: flex;
    flex-direction: column;
    height: 80vh;
}


#formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Super Comic';
    border-radius: 10px;

    position: fixed;
    background: rgb(207, 203, 203);
    box-shadow: 3px 3px 15px black;
    margin-top: 20px;

}


#button-mais {
    position: fixed;
    border: none;
    background-color: transparent;
    border: none;
    border-radius: 100px;
    background-color: transparent;
    color: transparent;
}

#button-mais:hover {
    background: #3ab907;
}






footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #42d608;
    color: white;
    height: 40px;
    margin: auto;
    
    /*Essas 4 linhas fazem o padding(rodapé) ficar posicionado no final da página*/
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
}